.venv/
__pycache__/
*.pyc
.DS_Store
data/
.python-version
*.egg-info/
*.dist-info/
build/
dist/
00_NonCommitableFiles/
results/
docs/
runs/
configs/
*.pt
outputs/
raw_bdd_jsons/
notebooks/.ipynb_checkpoints/