.venv/
__pycache__/
*.pyc
.DS_Store
# Exclude entire data directory but allow specific parquet files
data/
!data/parsed_data/
!data/parsed_data/*.parquet
.python-version
*.egg-info/
*.dist-info/
build/
dist/
00_NonCommitableFiles/
results/
runs/
configs/
*.pt
outputs/
raw_bdd_jsons/
notebooks/.ipynb_checkpoints/